<%include partials-main%>
<%include partials-header%>
<section>
    <div class="body-container">
        <div >
            <div class="col-md-3 prev-blog-links">
                <div class="prev-blog-links-container">
                    <h6>Earlier this month</h6>
                    <ul>
                        <li><a data-href="https://blog.risingstack.com/node-js-is-enterprise-ready/">Node.js is Enterprise-Ready</a></li>
                        <li><a data-href="https://www.salesforce.com/blog/2015/09/introducing-iot-cloud-thunder.html">Salesforce IoT Cloud: Connecting the Internet of Things to Your Customers</a></li>
                        <li><a data-href="http://blogs.forrester.com/diego_lo_giudice/15-02-19-this_time_ai_is_truly_here_to_help_build_intelligent_applications">This Time, AI Is Truly Here To Help Build Intelligent Applications</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 blog-content">
                <h3 id="blog-id"></h3>
                <div id="blog-content">
                </div>
            </div>

            <div class="col-md-3">
                <div class="published-reports" id="techreport">
                    <h6>Published reports</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<%include partials-footer%>