<% include partials-main.ejs %>
<% include partials-header.ejs %>
<section>
    <div class="body-container">
        <div style="height: 100%">
            <img src="../images/contactus.jpg" style="width: 100%;">
        </div>
    </div>
</section>
<% include partials-footer.ejs %>
