<!DOCTYPE html>
<html>
    <head>
        <title>Error Page</title>
    </head>
    <body>
        <div id="header"><%= error %></div>
        <div id="footer"><%= message %></div>
    </body>
</html>