<% include partials-main %>
<% include partials-header %>
<div class="body-container">
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-info btn-block">Brochure</button>
            <button type="button" class="btn btn-info btn-block">White Paper</button>
        </div>

        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Internet of Things</h3>
                </div>
                <div class="panel-body">
                    The Internet of Things (IoT) is the network of physical objects or "things" embedded with electronics,
                    software, sensors, and network connectivity, which enables these objects to collect and exchange data.
                    The Internet of Things allows objects to be sensed and controlled remotely across existing network infrastructure,
                    creating opportunities for more direct integration between the physical world and computer-based systems,
                    and resulting in improved efficiency, accuracy and economic benefit. Each thing is uniquely identifiable through
                    its embedded computing system but is able to interoperate within the existing Internet infrastructure.
                    Experts estimate that the IoT will consist of almost 50 billion objects by 2020.
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    Number of Sensors: 30 <br>
                    Data Streams: 30kb/sec <br>
                    Price: $30/month
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    Number of Sensors: 60 <br>
                    Data Streams: 50kb/sec <br>
                    Price: $50/month
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <h4>Customer Accolades</h4>
            <blockquote class="blockquote">
                <p>We are happy with Void Inc.</p>
                <footer><cite title="j-thomas">Keven Fitzsimmons</cite></footer>
            </blockquote>
            <blockquote class="blockquote">
                <p>In every respect – engineering, installation, support, accuracy, reliability,
                    and cost-saving potential – the decision to use Void’s telecom expense management solution just made sense.</p>
                <footer><cite title="chris-rapheal">Brandon McNulty</cite></footer>
            </blockquote>
        </div>

    </div>
</div>

<% include partials-footer %>
