        <footer>
            <div class="tweet-feeds">
            	<div class="feeds">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="copy">&copy;Copyright - Ninjas@2015</div>
        </footer>
    </body>
</html>
