        <footer>
            <div class="">
                <div class="col-left">

                </div>
                <div class="col-right">
                    <div class="tweet-feeds">Tweets</div>
                    <div class="copy">Copyright - &copy;Ninjas@2015</div>
                </div>
            </div>
        </footer>
    </body>
</html>
