<header id="main-header">
    <div class="navbar navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar b1"></span>
                    <span class="icon-bar b2"></span>
                    <span class="icon-bar b3"></span>
                </button>
                <a class="navbar-brand" href="/">LOGO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul id="main-nav" class="nav navbar-nav navbar-right">
                    <li><a href="/">Home
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Products <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/mobile">Mobile</a></li>
                            <li><a href="/bigdata">Big Data</a></li>
                            <li><a href="/iot">IoT &amp; IoE</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            About Us <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/management">Management</a></li>
                            <li><a href="/code">Code of Conduct</a></li>
                            <li><a href="/process">Business Process</a></li>
                            <li><a href="/locations">Locations</a></li>
                            <li><a href="/contacts">Contact Us</a></li>
                        </ul>
                    </li>

                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
