<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <img src="images/img1.jpg" style="width:100%;">
            </div>
            <div class="col-sm-6 col-md-9">Twitter Feed</div>
        </div>
    </div>
    <hr>
    <div class="copy">
        <p>Copy right &copy - Ninjas 2015</p>
    </div>
</footer>
</body>
</html>
