            <div class="main-footer">
                <footer>
                    <div class="container-fluid">
                        <div id="feeds-row" class="row">
                            <div class="col-md-3">
                                <img src="" style="width:50%; height: 50%;" alt="footer">
                            </div>
                            <div class="col-md-9">
                                <div class="row">Twitter Feeds</div>
                                <div class="row copy">
                                    <p>Copy right &copy - Ninjas 2015</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
