html, body {
    position: absolute;
    margin: 0px;
    height: 100%;
    width: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: white;
    overflow: hidden;
}
a {  color: white;  }
header, footer{
    display: block;
    height: 10%;
}
section{
    height: 80%;
    width: 100%;
    display: block;
    overflow: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar {  display: none;  }
section .body-container{  height: auto;  }
.navbar-custom{
    top: 0px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    background: #3E50B4;
    padding: 10px;
}
.carousel img {
    min-width: 100%;
    height: 100%;
    max-width: none;
}
footer {
    height: 100%;
    background-color: #3E50B4;
    color: white;
}
.tweet-feeds{  height: 6%;  }
.copy{  text-align: center;  }

/* IoT Page Css */
.iot{
    height: 100%;
    width: 100%;
    min-height: 680px;
    border: solid red 1px;
    background-color: antiquewhite;
}
.panel {  margin-top: 30px;  }
.panel > .panel-heading{  text-align: center;  }
.box-body {  padding: 40px;  }
button {  margin-top: 90px;  }
h2 {  text-align: center;  }

/* Blog Page CSS */
.prev-blog-links {
    display: block;
}
.prev-blog-links-container {
    background: rgba(51, 122, 183, 0.05);
    padding: 0;
    margin:15px 10px 10px 20px;
}
.prev-blog-links-container h6, .published-reports h6 {
    padding: 10px 10px 5px 10px;
    color: #555;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0.33);
}
.prev-blog-links-container ul {
    list-style: none;
    padding:0;
    margin: 0;
    line-height: 1.5;
}
.prev-blog-links-container li {
    border-bottom: 1px solid rgba(128, 128, 128, 0.33);
}
.prev-blog-links-container li:last-child {
    border-bottom: none;
}
.prev-blog-links-container li a {
    color: rgba(32, 63, 230, 0.62);
    cursor: pointer;
    display: block;
    padding: 8px 20px;
}
.prev-blog-links-container li a:hover {
    text-decoration: none;
}
.prev-blog-links-container li a:active {
    color: violet;
}
.blog-content {
    display: block;
    text-align: justify;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    line-height: 2em;
}
#blog-content{
    height: auto;
}

/* Twitter feed ticker in footer*/

.feeds {
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  height: 30px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 4px;
  padding: 3px;
  -webkit-user-select: none
} 

.feeds ul {
  float: left;
  padding-left: 20px;
  -webkit-transition: margin-top 1s linear;
}

.feeds ul li {line-height: 30px; list-style: none }

.feeds ul li a {
  color: #fff;
  text-decoration: none;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none
}
/*================*/

.published-reports {
    display: block;
    height: 300px;
    margin-top: 5em;
    margin: 5em 3em;
}
#blog-id {
    text-align:center;
    margin-top: 5em;
    margin-bottom: 1.5em;
}

/* Management Page */
.left-container {
    background: rgba(51, 122, 183, 0.05);
    padding: 0;
    margin:15px 10px 10px 20px;
}

.member-conatiner{
    position: absolute;
    height: 100%;
    width: 100%;
}

.memberThumb{
    position: relative;
    float: left;
    width: 30%;
    height: 48%;
}

/* gallery display */
.photos-container {  display: block;  }
.photos-container ul { list-style: none; }
.photos-container ul li { display: inline; }
.photos-container ul li a {
    display: block;
    float: left;
    padding: 4px;
    margin-right: 10px;
    margin-bottom: 7px;
    opacity: 0.75;
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
}
.photos-container ul li a:hover {
    opacity: 1.0;
    cursor: pointer;
    transform: rotate(0deg) scale(1.1,1.1);
    -webkit-transition: -webkit-transform 500ms linear 0ms;
    -moz-transition: transform 500ms linear 0ms;
    -ms-transition: transform 500ms linear 0ms;
    transition: transform 500ms linear 0ms;
}
.photos-container ul li a img {  border: 6px solid #e1d9ec; width: 100%; height: 100%; }

/* Media Queries */

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
img { max-width: 100%; }
html { font-size: 100%; }
@media (min-width: 640px) { body {font-size: 0.7rem;} }
@media (min-width: 960px) { body {font-size: 0.85rem;} }
@media (min-width: 1100px) { body {font-size: 1rem;} }

/* Custom Model header */
.modal-header-custom {
    border: none;
}
.description{
    margin: 0 2%;
}