body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: darkseagreen;
}

a {
  color: white;
}

#main-header .navbar-fat{
    position: absolute;
    padding: 20px 60px 20px 20px;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.5) 100%);
    z-index: 1000;
}

.navbar{
    width: 100%;
}

.navbar-collapse ul li a{
    color: white;
}
.navbar-default{
    border: 0;
}

.nav-custom{
    background: transparent;
    border: none;
}

.cover .full-window{
    height: 100%;
    width: 100%;
    min-height: 480px;
}
.cover{
    position: relative;
    width: 100%;
}

#main-footer{
    background-color: darkgrey;
}

#main-footer .container{
    padding-top: 2%;
}

.copy{
    padding: 2%;
    text-align: center;
}