body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: darkseagreen;
}

a {
    color: white;
}

.body-container{
    margin-top: 4%;
    height : 400px;
}

.item-fix-height{
    height: 500px;
}

.item-fix-height img{
    width: 100%;
    height: 100%;
}
.navbar-custom{
    background: rgba(0,0,0,0.4);
    border: none;
}

#main-footer{
    width: 100%;
    background-color: darkgrey;
    padding: 0px;
    margin: 0px;
}

#main-footer .container{
    margin-top: 8%;
}

.copy{

    text-align: center;
}

/* IoT Page Css */
.iot{
    height: 100%;
    width: 100%;
    min-height: 680px;
    border: solid red 1px;
    background-color: antiquewhite;
}